#numWordsBox
{
	width : 100px;
	height : 60px;
	margin: 6px 6px 6px 6px;
	background-color : #ADD8E6;
	color : black;
	font : 24pt bold arial, sans-serif;
	text-align : center;
	border : 2px solid gray;
	border-radius : 10px;
}

.wordCard
{
	width : 300px;
	height : 100px;
	margin: 10px 10px 10px 10px;
	color : black;
	cursor : pointer;
	background-color : #ADD8E6;
	font : 18pt bold arial, sans-serif;
	text-align : center;
	border : 2px solid gray;
	border-radius : 10px;
}

.button0
{
	width : 160px;
	height: 60px;
	margin : 6px 6px 6px 6px;
	border : none;
	cursor : pointer;
	font : 24pt bold arial, sans-serif;
	background-color: #0C71E1;
	color: white;
	vertical-align : top;
	text-align: center;
	border: 2px solid gray;
	border-radius : 3px;
}

.button0:hover
{
	background-color : #1C81F1;
}

#refreshForm
{
	text-align : left;
	display : inline-block;
}

#vocabTrainer
{
}

.center
{
	text-align : center;
}

.text0
{
	color : black;
	font : 72pt bold arial, sans-serif;
}

.text1
{
	color : black;
	font : 32pt bold arial, serif;
}

.text2
{
	color : black;
	font : 16pt bold arial, serif;
}

body
{
	background-color : #FFE1E1;
}

table
{
	empty-cells : show;
}